body {
    background: url(../img/use_your_illusion.png);
}

.tableContainer {
    padding: 15px 15px 0px 15px;
    background: #CFD8DC;
    border-radius: 3px;
    border: 1px solid black;
}

.tableContainer table {
    background: rgb(200,200,200);
    border-radius: 3px;
}

#dynamic {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    border: 1px solid darkgray;
    -webkit-box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.75);
}

td {
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
}